@font-face {
    font-display: auto;
    font-family: 'College';
    src: url('college.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: auto;
    font-family: 'Sunshine';
    src: url('Sunshine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }